header
{
    text-align: center;
    color: white;
    display: flex;
    font-size: 20px;
    background-image: url("img/voiture.jpg");
    padding: 10px;
}

header a
{
    color: white;
    flex: 1;
}