header {
  display: flex;
  flex-direction: column;
  font-family: "dragonlauphing", sans-serif;
  box-shadow: 0px 0px 200px rgb(0, 34, 255);
}

header a {
  color: white;
  flex: 1;
  text-decoration: none;
}

header .patasoupir {
  font-size: 17pt;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 3px;
  font-weight: bold;
  font-family: "arial", sans-serif;
  background-color: rgb(60, 255, 0);
}

header .patasoupir a {
  color: blue;
}
header .patasoupir a:hover {
  color: rgba(255, 255, 255, 0.299);
}
header .menu {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex: 1;
  font-size: 13pt;
  padding: 3px;
  background-image: url("img/voiture2.jpg");
  background-size: 100%;
}

header .menu a {
  color: white;
  text-decoration: none;
}
header .menu a:hover {
  text-decoration: underline;
}
