aside
{
    display: inline-block;
position: absolute;
    right:2px;
   
}

aside img {width:50px; border-radius:0.4em; animation:blink 6s infinite;}

@keyframes blink {
    0% {
      opacity: 0.6;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 0.6;
    }
  }
