/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

li {
  padding-bottom: 10px;
}
body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.6;
  color: #2c2952;
  /* background: #4d8ee9; */
}

/* VARIABLES */
:root {
  --blue-main: #5c7e9f;
  --blue-dark: #3f457d;
  --blue-light: #dff2ec;
  --accent: #8fbfd3;
  --white: #ffffff;
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
@font-face {
  font-family: "Doctor";
  src:
    url("/fonts/Doctor.ttf") format("ttf"),
    url("/fonts/Doctor.ttf") format("truetype");
}
@font-face {
  font-family: "medicall";
  src:
    url("/fonts/medicall.ttf") format("ttf"),
    url("/fonts/medicall.ttf") format("truetype");
}

/* HEADER */
.header1 {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1000;

  .headerViteLePsy {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    background: rgba(52, 76, 234, 0.9);
    backdrop-filter: blur(10px);

    font-size: 2rem;
    border-radius: 0;
    padding: 25px;
  }

  .logo a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 600;
    padding-bottom: 100px;
    font-family: "medicall", sans-serif;
  }
  p {
    font-size: 1rem;
    color: white;
    font-style: italic;
  }
}

#topnav_menu ul {
  display: flex;
  list-style: none;
  gap: 40px;

  font-family: arial;
  font-weight: 600;
}

#topnav_menu a {
  text-decoration: none;
  color: white;
  position: relative;

  font-size: 1rem;
  font-weight: 0;
}

#topnav_menu a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background: white;
  transition: 0.3s;
}

#topnav_menu a:hover::after {
  width: 100%;
}

#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

/* HERO */
#big {
  font-size: 30pt;
  color: white;
  font-family: "medicall", sans-serif;
}
.hero {
  min-height: 60vh;
  display: flex;
  flex-direction: column;

  background: rgba(77, 101, 253, 0.9);

  margin: 0 auto;
  text-align: center;
  align-items: center;

  border-radius: 0 0 20px 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;

  h2 {
    color: white;
    font-size: 2rem;
  }
}

/* 
.hero-image img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--shadow);
  transition: transform 0.4s ease;
} */
/* 
.hero-image img:hover {
  transform: scale(1.05);
} */

/* SECTIONS GENERALES */
section {
  padding: 80px 0;
}

/* ABOUT ---- A PROPOS aPropos*/
#aPropos {
  border: #2c2952 solid 3px;
  border-radius: 20px;
  margin: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  img {
    max-width: 100%;
    size-adjust: fill;
  }
}
.about {
  background: var(--white);
}

.about-card {
  background: var(--blue-light);
  box-shadow: var(--shadow);
  transition: transform 0.3s ease;
}

.about-card:hover {
  transform: translateY(-5px);
}

/* SERVICES */
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.services {
  background: linear-gradient(180deg, #f3f8f6 0%, #e6f3ef 100%);
}

.services-grid {
  display: flex;
  gap: 25px;
  margin-top: 40px;
}

.service-card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  flex: 1;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.service-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  background: var(--blue-main);
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

/* RESET DETAILS */
.service-card details {
  cursor: pointer;
}

.service-card summary {
  font-weight: bold;
  font-size: 1.1rem;
  list-style: none;
  position: relative;
  padding-right: 25px;
}

/* SUPPRIMER FLÈCHE NATIVE */
.service-card summary::-webkit-details-marker {
  display: none;
}

/* ICÔNE 👇 */
.service-card summary::after {
  content: "👇";
  position: absolute;
  right: 0;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

/* ICÔNE ROTATION */
.service-card details[open] summary::after {
  transform: rotate(45deg);
}

/* CONTENU CACHÉ */
.service-content {
  margin-top: 15px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  transform: translateY(-10px);
}

.service-card details[open] .service-content {
  transform: translateY(0);
}

/* CONTENU VISIBLE */
.service-card details[open] .service-content {
  opacity: 1;
  max-height: 300px;
}

/* IMAGE */
.service-content img {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}
/* rdv */
.rdv {
  background: linear-gradient(135deg, var(--blue-main), var(--blue-dark));
  color: white;
  text-align: center;
  border-radius: 20px;
  margin: 40px auto;
  width: 90%;
  max-width: 1000px;
  box-shadow: var(--shadow);
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 28px;
  background: white;
  color: var(--blue-dark);
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: var(--accent);
  transform: translateY(-2px);
}
/* LISTE EN BLOC  */
.testimonials-list {
  margin-top: 40px;
  display: block;
}

/* CARTE */
.testimonial {
  background: white;
  padding: 25px 30px;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  position: relative;
  transition: all 0.3s ease;
}

/* PETITE BARRE VERTE */
.testimonial::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 5px;
  height: 60%;
  background: var(--green-main);
  border-radius: 5px;
}

/* TEXTE */
.testimonial-text {
  font-style: italic;
  margin-bottom: 15px;
  color: #4d8ee9;
}

/* AUTEUR */
.testimonial-author {
  font-weight: bold;
  color: var(--green-dark);
}

/* HOVER */
.testimonial:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
/* CACHÉ PAR DÉFAUT */
.hidden {
  display: none;
}

/* ANIMATION APPARITION */
.testimonial.show {
  display: block;
  animation: fadeUp 0.6s ease;
}

/* BOUTON CENTRÉ */
.testimonials-more {
  text-align: center;
  margin-top: 20px;
}
/* FOOTER */
.footer {
  background: #201f2d;
  color: #cfd8d8;
  padding: 50px 0;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer h3 {
  color: white;
  margin-bottom: 15px;
}

.footer a {
  color: #cfd8d8;
}
#mentionsLegales {
  text-align: center;
}
#mentionsLegales ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#mentionsLegales li {
  line-height: 1;
}
#mentionsLegales a:hover {
  color: var(--accent);
}
#mentionsLegales a {
  color: #c2c6c6;
}

/* ANIMATIONS */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  animation: fadeUp 0.8s ease both;
}

/* ACCESSIBILITÉ */
a:focus {
  outline: 2px solid var(--blue-main);
  outline-offset: 3px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .hero-content,
  .about-grid,
  .services-grid,
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-image img {
    margin: 0 auto;
  }
  #topnav_menu {
    display: none;
  }
  #topnav_hamburger_icon {
    left: 85%;
    top: 20px;
    display: block;
    position: absolute;
  }

  #topnav_responsive_menu a {
    text-decoration: none;
    color: #333;
    position: relative;
    font-size: 0.95rem;
  }

  #topnav_responsive_menu a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: var(--blue-main);
    transition: 0.3s;
  }

  #topnav_responsive_menu a:hover::after {
    width: 100%;
  }

  /* Icône Hamburger */
  #topnav_hamburger_icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 25px;
    background: #696969;
    margin-bottom: 5px;
    transition: 0.1s;
    z-index: 100;
  }
  #topnav_hamburger_icon span:nth-child(1) {
    top: 0;
    transform-origin: left top;
  }
  #topnav_hamburger_icon span:nth-child(2) {
    top: 12px;
    transform-origin: left center;
  }
  #topnav_hamburger_icon span:nth-child(3) {
    top: 24px;
    transform-origin: left bottom;
  }

  /* Animation ouverture */
  #topnav_hamburger_icon.open span:nth-child(1) {
    transform: rotate(60deg);
  }
  #topnav_hamburger_icon.open span:nth-child(2) {
    width: 0;
    opacity: 0;
  }
  #topnav_hamburger_icon.open span:nth-child(3) {
    transform: rotate(-55deg);
  }

  /* Menu Responsive */
  #topnav_responsive_menu {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    width: 50vw;

    background: rgba(255, 255, 255, 0.9);
    transform: translate(200%, 0);
    transition: transform 0.5s;
    z-index: 99;
    padding: 10px;
  }

  #topnav_responsive_menu.open {
    transform: none;
  }
}
