@font-face {
  font-family: "dragonlauphing";
  src: url("fonts/dragonlauphing.woff2") format("woff2"), url("fonts/dragonlauphing.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-image: url("img/chateauvidenoir.png");  
    color: white;
    background-color: rgba(255, 192, 203, 0.29);
    border-radius: 10px;
    margin:10px;
    flex-grow: 1;
    padding-top : 1px; padding-bottom: 1px;
    font-family: arial;
    font-size: 10pt;
  }

  .navigation {
    display: flex;
    gap: 10px;
  }

  footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }